beautifulsoup4==4.12.3
black==23.3.0
jupyterlab==3.6.3
matplotlib==3.7.1
missingno==0.5.2
mlflow==2.4.1
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.1
parsenvy==3.0.2
plotly==5.20.0
protobuf==4.23.3
pycaret==3.3.0
pytest==7.4.0
scikit-learn==1.4.1.post1
seaborn==0.11.2
sentencepiece==0.2.0
statsmodels==0.14.0
testbook==0.4.2
tqdm==4.66.2
pygwalker==0.4.8
tensorflow-macos==2.12.0
tensorflow-metal==1.0.0
transformers==4.39.3
